<section class="edit-blog">
  <h1 class="edit-blog__heading">Edit Blog</h1>

  <div class="edit-blog__form">

    <div class="edit-blog__error-messages">
      <%= render "layouts/list_error_message", blog: @blog %>
    </div>

    <%= render "list_blog_form", blog: @blog %>

  </div>

</section>
