<% if blog.favorited_by?(current_user) %>
  <%= link_to blog_favorites_path(blog), method: :delete, remote: true do %>
    <span class="fa fa-heart like-btn-unlike"></span>
  <% end %>
<% else %>
  <%= link_to blog_favorites_path(blog), method: :post, remote: true do %>
    <span class="fa fa-heart like-btn"></span>
  <% end %>
<% end %>
<%= blog.favorites.count %>
